* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  background-color: #f8f8f8;
  color: #202020;
}

main {
  max-width: 980px;
  margin: 0 auto;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size:24px;
  margin: 0 auto;
}

h2 {
  font-size: 46px;
  font-style: italic;
  font-weight: bold;
}

h3 {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: bold;
}

header img {
  width: 77px;
}

section {
  margin: 50px auto;
}

/* -------------------- Header */

header {
  text-align: center;
  margin: 10px 0;
  position: relative;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  color: blue;
}

/* -------------------- Section intro */

.intro {
  position: relative;
}

.quote {
  position: absolute;
  bottom: 25%;
  right: 10%;
  max-width: 50%;
  padding-bottom: .5em;
  border-bottom: 2px solid #39b54a;
}

.quote-author {
  background-color:#f1f1f1;
  max-width: 50%;
  padding: .5em;

  position: absolute;
  bottom: calc(25% - 1em);
  right: 10%;
}

/* -------------------- Section content */

.content {
  position: relative;
}

/* ---- article general */

article {
  min-height: 510px;
  padding-top: 3em;
  margin: 50px 0;
  padding: 12%;
  position: relative;
}

.article-number {
  font-weight: bold;
  color: white;
  
  font-size: 1.6em;
  text-align: center;
  line-height: 1.8em;
  
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;

  position: absolute;  
}

.article-title {
  position: relative;
  left: 80px;
}
/* ---- article 1 */

.article-one {
  background-image: url(img/product-01.png);
  background-repeat: no-repeat;
  background-position: right;
}

.article-number-1 {
  background-color:#ffcc00;
  top: 100px;
}

.article-title {
  position: relative;
  left: 80px;
}

.article-description {
  max-width: 50%;
  position: relative;
  left: 80px;
  font-weight: normal;
}

/* ---- article 2 */

.article-two {
  background-image: url(img/product-02.png);
  background-repeat: no-repeat;
  background-position: left;
}

.article-number-2 {
  background-color:#e8420d;
  left: 377px;
}

.article-title-2 {
  position: relative;
  top: 20px;
  left: 340px;  
  margin: 0;
}

.article-description-2 {
  max-width: 80%;
  position: relative;
  left: 340px;
  top: 30px;
  font-weight: normal;
}

/* ---- article 3 */

.article-three {
  background-image: url(img/product-03.png);
  background-repeat: no-repeat;
  background-position: right;
}

.article-number-3 {
  background-color:#c92424;
  top: 100px;
}

/* -------------------- Footer */

footer {
  background-color: #39b54a;
  position: relative;
  height: 415px;
  color: white;
  padding-top: 10%;
}

.footer-quote {
  position: absolute;
  right: 10%;
  max-width: 48%;
  padding-bottom: .5em;
  border-bottom: 2px solid #fff;
}

.footer-quote-author {
  background-color: #39b54a;
  max-width: 50%;
  padding: .5em;

  position: absolute;
  right: 10%;
  bottom: 27%;
}
